<h1>Edit Your Profile</h1>

<%= render 'form' %>

<!--<%# render 'userform' %>-->

<%= link_to 'View Profile', @profile, :class => "btn btn-info" %> |
<%= link_to 'All Profiles', profiles_path, :class => "btn btn-info" %>
