// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//*= require bvar

html, body {height:100%;}
main.main {
  padding-top:100px;
  overflow:auto;
  padding-bottom:150px;
  min-height:600px !important;
  }
  
#wrapper {
  min-height:100%;
}

footer#foot {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  background-color:black;
  color:white;
  width:100%;
  padding:25px 11% 10px;
  } 
.intro{
  width:200px;
  height:200px;
  background-color:red;
  border-radius:10px;
  float:left;
  padding:20px;
  margin:20px;
}

nav {
  width:100%;
}

aside#mainside{
 position:fixed;
 top:40%;
 left:2%;
 width:7%;
 background-color:hsla(220, 30, 70, 0.7);
 padding:10px;
 width:200px;
 border-radius:20px;
 text-align:center;
}
