<aside id="mainsideli">
	<div>
		<h5>Welcome <%= current_user.username %></h5>
		<a href="/#" class ="btn btn-info" >View profile</a>

	</div>
	<div>
		<p>forum posts:</p>
		<p>Recent Articles:</p>
	</div>
</aside>
		<!--<%# link_to 'Edit Your Profile', edit_profile_path(@profile) , :class => "btn btn-warning"%>-->		
