<aside id="mainside">
	<div>
		<h5>Login | Register</h5>
 		<p><%= link_to 'Register', new_user_registration_path, :class => "btn btn-info btn-small" %></p> 
 		<p><%= link_to 'Sign in', new_user_session_path, :class => "btn btn-success btn-small" %></p>
 	</div>
</aside>