	<ul class="nav navbar-nav">
		<li><a href="#">Member's area</a></li>
		<ul>
			<li><a href="#">Topics</a></li>
			<li><a href="#">Forum</a></li>
			<li><a href="#">Samples</a></li>
		</ul>
		<li>Sign in</li>
		<li>Register</li>
	</ul>

